.inline-div {
  display: inline-block;
}

.inputMessage {
  border: 10px solid #0F0;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}
ul {
  list-style: none;
  word-wrap: break-word;
}